COINCAP_API_KEY=0ce99de070a0dd3a60a97196561b93bf2a24ee1ce761878a8d648e5d3b926009
SUPABASE_URL=https://uqlxbcoowpmxmvwkuomc.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVxbHhiY29vd3BteG12d2t1b21jIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3OTIyMzc0MSwiZXhwIjoyMDk0Nzk5NzQxfQ.RKo_Do6063K17BWyjn80g4u41mB6HjT44MArwRRLvGk
# 帖子发布配置
POSTS_AUTHOR_USERNAME=indoAdmin
# 新闻分类
POSTS_CATEGORY_NAME=news
# FIFA 赛程分类
FIFA_CATEGORY_NAME=Sports Talk
# AI 摘要发布分类
HOT_TOKENS_CATEGORY_NAME=Hot Tokens
# DeepSeek API
DEEPSEEK_API_KEY=sk-20dda278adcc49a790b3557d32a10c5e